H323 to SIP Conversion
========================

Date: {{ lookup('pipe', 'date') }}

{%- set configured_sip_hosts = [] %}
{%- set unreachable_hosts = [] %}
{%- set sip_conversion_failed = [] %}

{%- for _host in play_hosts %}
  {%- if (hostvars[_host].sip_configured is defined) %}
    {%- if (hostvars[_host].sip_configured) %}
      {{ configured_sip_hosts.append(_host) }}
    {%- else %}
      {{ sip_conversion_failed.append(_host) }}
    {%- endif %}
  {% else %}
    {{ unreachable_hosts.append(_host) }}
  {%- endif %}
{%- endfor %}


Total Conference Room Endpoints: {{ ansible_play_hosts_all |length }}
Conference Endpoint Successfully Configured: {{ configured_sip_hosts|length }}
Unreachable Conference Rooms: {{ unreachable_hosts | length }}
SIP Conversion Failed: {{ sip_conversion_failed | length }}

SIP Conversion Failed List
----------------------------

{% for i in  sip_conversion_failed %}
* {{ i }}
{% endfor %}


Unreachable Conference Endpoints
--------------------------------

{% for i in unreachable_hosts %}
* {{i}}
{% endfor %}


