<Configuration>
  <NetworkServices>
    <H323>
      <Mode>Off</Mode>
    </H323>
    <SIP>
      <Mode>On</Mode>
    </SIP>
  </NetworkServices>
  <Conference>
    <DefaultCall>
      <Protocol>Sip</Protocol>
    </DefaultCall>
  </Conference>
  <SIP>
    <DisplayName>{{ h323_sip_config.system[0].name }}</DisplayName>
    <ListenPort>Off</ListenPort>
    {% for proxy_ip in call_control_ips %}
    <Proxy item="{{ loop.index}}">
      <Address>{{ proxy_ip }}</Address>
    </Proxy>
    {%endfor%}
    <URI>{{h323_sip_config.h323[0].e164|trim}}@{{sipdomain_name|trim }}</URI>
  </SIP>
</Configuration>
